OPENAI_API_KEY=sk-your-openai-api-key
CSPR_CLOUD_API_KEY=your-cspr-cloud-api-key
CASPER_NETWORK=casper-test
SECRET_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
CASPER_NODE=http://65.109.115.124:7777
CONTRACT_PACKAGE_HASH=hash-5095fbfcbfa662ef13731dd0822317e100f2642230c2a35f0241e888eb8383eb
