OPENAI_API_KEY=sk-your-openai-api-key
CSPR_CLOUD_API_KEY=your-cspr-cloud-api-key
CASPER_NETWORK=testnet
SECRET_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
CASPER_NODE=http://65.109.115.124:7777
CONTRACT_PACKAGE_HASH=hash-<deployed-package-hash>
